*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}  
body{
    background-color: rgb(235, 175, 127);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

input{
    outline: 0;
    background-color: hsl(0, 0%, 100%);
    width: 120%;
    border: 100%;
    margin: 20px;
    box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;

}
.boton{
    display: block;
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #d4d4dd;
    width: 100%;
    border: 1px solid black;
    padding: 15px;
}

.boton:hover{
    background-color: transparent;
    border: 2px solid rosybrown;
    color: black;
}
.littlehaeri:hover{
    background-color: transparent;
    border: 2px solid rosybrown;
    color: black;
}
.littlehaeri{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #d4d4dd;
    width: 100%;
    border: 1px solid rgb(167, 97, 97);
    padding: 15px;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #fffab5;
    max-width: 360px;
    padding: 45px;
    text-align: center;
}

